.options-container{
  border: 1px solid blue;
  position: absolute;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px;
  overflow-y: auto;
}

.options{
  display: flex;
  gap: 35px;
}

.image-section{
  margin: 10px 0;
}

.image-options{
  display: flex;
  gap: 20px;
}

.image-input{
  width: 100%;
  margin: 5px 0;
}

.image-upload{
  margin: 15px 0;
}

.text-options{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 5px;
}

.reposition-cell-container{
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin:7px 0;
}


.reposition-cell-container > div{
  width: 100%;
}