.tabs-container{
  width: 100%;
  display: flex;
  gap: 13px;
  padding: 10px 0 0 10px;
  border-bottom: 2px solid #000;
}

.tab{
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 3px 0 5px;
  display: flex;
  gap: 7px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transform: translateY(2px);
}

.close-btn{
  color: #ff0000;
  background-color: #fff;
  border: none;
  cursor: pointer;
}